<body>
<div class="content">
  <form [formGroup]="inputForm">
    <table>
      <tr>
        <th style="width:200px">
          <input id="inputNumber" formControlName="inputNumber" type="text" min="0" (input)="onConvertNumber()" (change)="onCheck()"/>
        </th>
        <th>
          <select id="numberType" formControlName="numberType" (change)="onCheck()" >
            <option value="p">isPrime</option>
            <option value="f">isFibonacci</option>
          </select>
        </th>
        <th style="width:300px">
          <span id="answer">{{this.answer}}</span>
        </th>
      </tr>
    </table>
  </form>
</div>



</body>
