


<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pre-test1">Pre test 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pre-test2">Pre test 2</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
