
<body>
<div class="content">
  <div class="card-body">
  <form [formGroup]="searchForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" formControlName="searchName" id="dataTypeCode" (input)="onSearch()">
      </div>

    </div>
  </form>
  </div>

  <table>
    <tr
      *ngFor="let dataResult of this.result">
      <td>{{dataResult}}</td>
    </tr>
  </table>

</div>
</body>
